/*! Hint.css (base version) - v2.2.1 - 2016-03-26
* http://kushagragour.in/lab/hint/
* Copyright (c) 2016 Kushagra Gour; Licensed  */

/*-------------------------------------*	HINT.css - A CSS tooltip library
\*-------------------------------------*/
/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/lab/hint/
 *
 * Release under The MIT License
 *
 */
/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 * 	1) body (:after)
 * 	2) arrow (:before)
 *
 * Classes added:
 * 	1) hint
 */
[data-hint] {
  position: relative;
  display: inline-block;
  /**
	 * tooltip arrow
	 */
  /**
	 * tooltip body
	 */ }
  [data-hint]:before, [data-hint]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms; }
  [data-hint]:hover:before, [data-hint]:hover:after {
    visibility: visible;
    opacity: 1; }
  [data-hint]:hover:before, [data-hint]:hover:after {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms; }
  [data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 0.375rem solid transparent;
    z-index: 1000001; }
  [data-hint]:after {
    content: attr(data-hint);
    background: #263238;
    color: #ffffff;
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: 1;
    white-space: nowrap;
    border-radius: 4px; }

[data-hint='']:before, [data-hint='']:after {
  display: none !important; }

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 * 	1) hint-top
 * 	2) hint-bottom
 * 	3) hint-left
 * 	4) hint-right
 */
/**
 * set default color for tooltip arrows
 */
.hint-top-left:before {
  border-top-color: #263238; }

.hint-top-right:before {
  border-top-color: #263238; }

.hint-top:before {
  border-top-color: #263238; }

.hint-bottom-left:before {
  border-bottom-color: #263238; }

.hint-bottom-right:before {
  border-bottom-color: #263238; }

.hint-bottom:before {
  border-bottom-color: #263238; }

.hint-left:before {
  border-left-color: #263238; }

.hint-right:before {
  border-right-color: #263238; }

/**
 * top tooltip
 */
.hint-top:before {
  margin-bottom: -0.75rem; }

.hint-top:before, .hint-top:after {
  bottom: 100%;
  left: 50%; }

.hint-top:before {
  left: calc(50% - 0.375rem); }

.hint-top:after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%); }

.hint-top:hover:before, .hint-top:focus:before {
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem); }

.hint-top:hover:after, .hint-top:focus:after {
  -webkit-transform: translateX(-50%) translateY(-0.5rem);
  -moz-transform: translateX(-50%) translateY(-0.5rem);
  transform: translateX(-50%) translateY(-0.5rem); }

/**
 * bottom tooltip
 */
.hint-bottom:before {
  margin-top: -0.75rem;; }

.hint-bottom:before, .hint-bottom:after {
  top: 100%;
  left: 50%; }

.hint-bottom:before {
  left: calc(50% - 0.375rem); }

.hint-bottom:after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%); }

.hint-bottom:hover:before, .hint-bottom:focus:before {
  -webkit-transform: translateY(0.5rem);
  -moz-transform: translateY(0.5rem);
  transform: translateY(0.5rem); }

.hint-bottom:hover:after, .hint-bottom:focus:after {
  -webkit-transform: translateX(-50%) translateY(0.5rem);
  -moz-transform: translateX(-50%) translateY(0.5rem);
  transform: translateX(-50%) translateY(0.5rem); }

/**
 * right tooltip
 */
.hint-right:before {
  margin-left: -0.75rem;
  margin-bottom: -0.375rem; }

.hint-right:after {
  margin-bottom: -0.938rem; }

.hint-right:before, .hint-right:after {
  left: 102%;
  bottom: 50%; }

.hint-right:hover:before, .hint-right:focus:before {
  -webkit-transform: translateX(0.5rem);
  -moz-transform: translateX(0.5rem);
  transform: translateX(0.5rem); }

.hint-right:hover:after, .hint-right:focus:after {
  -webkit-transform: translateX(0.5rem);
  -moz-transform: translateX(0.5rem);
  transform: translateX(0.5rem); }

/**
 * left tooltip
 */
.hint-left:before {
  margin-right: -0.75rem;
  margin-bottom: -0.375rem; }

.hint-left:after {
  margin-bottom: -0.938rem; }

.hint-left:before, .hint-left:after {
  right: 102%;
  bottom: 50%; }

.hint-left:hover:before, .hint-left:focus:before {
  -webkit-transform: translateX(-0.5rem);
  -moz-transform: translateX(-0.5rem);
  transform: translateX(-0.5rem); }

.hint-left:hover:after, .hint-left:focus:after {
  -webkit-transform: translateX(-0.5rem);
  -moz-transform: translateX(-0.5rem);
  transform: translateX(-0.5rem); }

/**
 * source: hint-sizes.scss
 *
 * Defines width restricted tooltips that can span
 * across multiple lines.
 *
 * Classes added:
 * 	1) hint-small
 * 	2) hint-medium
 * 	3) hint-large
 *
 */
.hint-small:after,
.hint-medium:after,
.hint-large:after {
  white-space: normal;
  line-height: 1.5714285714; }

.hint-small:after {
  width: 5em; } /* 80px */

.hint-medium:after {
  width: 10em; } /* 160px */

.hint-large:after {
  width: 20em; } /* 320px */

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 *
 * Classes added:
 * 	1) hint-always
 *
 */
.hint-always:after, .hint-always:before {
  opacity: 1;
  visibility: visible; }

.hint-always.hint-top:before {
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem); }

.hint-always.hint-top:after {
  -webkit-transform: translateX(-50%) translateY(-0.5rem);
  -moz-transform: translateX(-50%) translateY(-0.5rem);
  transform: translateX(-50%) translateY(-0.5rem); }

.hint-always.hint-top-left:before {
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem); }

.hint-always.hint-top-left:after {
  -webkit-transform: translateX(-100%) translateY(-0.5rem);
  -moz-transform: translateX(-100%) translateY(-0.5rem);
  transform: translateX(-100%) translateY(-0.5rem); }

.hint-always.hint-top-right:before {
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem); }

.hint-always.hint-top-right:after {
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem); }

.hint-always.hint-bottom:before {
  -webkit-transform: translateY(0.5rem);
  -moz-transform: translateY(0.5rem);
  transform: translateY(0.5rem); }

.hint-always.hint-bottom:after {
  -webkit-transform: translateX(-50%) translateY(0.5rem);
  -moz-transform: translateX(-50%) translateY(0.5rem);
  transform: translateX(-50%) translateY(0.5rem); }

.hint-always.hint-bottom-left:before {
  -webkit-transform: translateY(0.5rem);
  -moz-transform: translateY(0.5rem);
  transform: translateY(0.5rem); }

.hint-always.hint-bottom-left:after {
  -webkit-transform: translateX(-100%) translateY(0.5rem);
  -moz-transform: translateX(-100%) translateY(0.5rem);
  transform: translateX(-100%) translateY(0.5rem); }

.hint-always.hint-bottom-right:before {
  -webkit-transform: translateY(0.5rem);
  -moz-transform: translateY(0.5rem);
  transform: translateY(0.5rem); }

.hint-always.hint-bottom-right:after {
  -webkit-transform: translateY(0.5rem);
  -moz-transform: translateY(0.5rem);
  transform: translateY(0.5rem); }

.hint-always.hint-left:before {
  -webkit-transform: translateX(-0.5rem);
  -moz-transform: translateX(-0.5rem);
  transform: translateX(-0.5rem); }

.hint-always.hint-left:after {
  -webkit-transform: translateX(-0.5rem);
  -moz-transform: translateX(-0.5rem);
  transform: translateX(-0.5rem); }

.hint-always.hint-right:before {
  -webkit-transform: translateX(0.5rem);
  -moz-transform: translateX(0.5rem);
  transform: translateX(0.5rem); }

.hint-always.hint-right:after {
  -webkit-transform: translateX(0.5rem);
  -moz-transform: translateX(0.5rem);
  transform: translateX(0.5rem); }
