/*
 *
 * STYLE GUIDE HELPER CLASSES
 *
 */

.grid p {
	padding: 1rem 0;
	background-color: #ECEFF1;
	font-size: 0.75rem;
	text-align: center;
	color: #78909C;
}

.color-chip {
	margin: 0 auto 1rem auto;
	width: 4rem;
	height: 4rem;
	border-radius: 999px;
	box-shadow: inset 0 0 0 2px rgba(0,0,0,.10)
}