<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="{{asset 'css/instacredit-reset.css'}}">
    <link type="text/css" rel="stylesheet" href="{{asset 'css/hint.css'}}">
    <link type="text/css" rel="stylesheet" href="{{asset 'css/instacredit-grid.css'}}">
    <link type="text/css" rel="stylesheet" href="{{asset 'css/instacredit-style.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'css/style-guide.css'}}"/>
  </head>
  <body>
    <article class="markdown-body row">
      <div class="large-12 columns">
        {{~> content}}
      </div>
    </article>
  </body>
</html>
