/*
 *
 * TYPOGRAPHY
 *
 */

/* BASIC TYPOGRAPHY */

body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1;
	color: #455A64;
}

p {
	font-size: 1rem;
	line-height: 1.625;
	margin-bottom: 1rem;
}

p.text-small {
	font-size: 0.875rem;
	line-height: 1.5714285714;
}

p.text-xsmall {
	font-size: 0.75rem;
	line-height: 1.6666666667;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

a {
	color: #3BC0C3;
	text-decoration: none;
	transition: color .3s ease;
}

a:hover,
a:active,
a:focus { color: #189B9F; }

hr {
	max-width: 75rem;
	height: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid #ECEFF1;
	border-left: 0;
	margin: 2rem auto;
	clear: both;
}

/* COLORS */

.text-dark-asphalt { color: #455A64; }
.text-asphalt,
.text-asphalt a { color: #78909C; }
.text-light-asphalt,
.text-light-asphalt a { color: #B0BEC5; }
.text-white,
.text-white a { color: #FFFFFF; }

.text-lime { color: #9CCC65; }
.text-amber { color: #FFD03E; }
.text-ruby { color: #EC407A; }

.text-asphalt a:hover { color: #B0BEC5; }
.text-light-asphalt a:hover { color: #FFFFFF; }
.text-white a:hover { color: #94DDDF; }


/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 1rem; }

h1 {
	font-size: 2rem;
	line-height: 1.1875;
	font-weight: 300;
}

h2 {
	font-size: 1.625rem;
	line-height: 1.2307692308;
	font-weight: 300;
}

h3 {
	font-size: 1.375rem;
	line-height: 1.2727272727;
	font-weight: 700;
}

h4 {
	font-size: 1.125rem;
	line-height: 1.4444444444;
	font-weight: 700;
}

h5 {
	font-size: 1rem;
	line-height: 1.625;
	font-weight: 700;
	text-transform: uppercase;
	color: #B0BEC5;
}

@media (min-width: 40rem) { /* MEDIUM */

	h1 {
		font-size: 2.5rem;
		line-height: 1.2;
	}

	h2 {
		font-size: 2rem;
		line-height: 1.25;
	}

	h3 {
		font-size: 1.5rem;
		line-height: 1.3333333333;
	}

}

@media (min-width: 64rem) { /* LARGE */

	h1 {
		font-size: 3rem;
		line-height: 1.2083333333;
	}

	h2 {
		font-size: 2.25rem;
		line-height: 1.2777777778;
	}

	h3 {
		font-size: 1.75rem;
		line-height: 1.2857142857;
	}

}

/* LISTS */

ul,
ol,
dl {
	line-height: 1.625;
	margin-bottom: 1rem;
}

ul {
	list-style-type: disc;
	margin-left: 1.25rem;
}

ol { margin-left: 1.25rem; }

ul ul,
ol ul,
ul ol,
ol ol {
	margin-left: 1.25rem;
	margin-bottom: 0;
}

li { font-size: inherit; }

.no-bullet {
	margin-left: 0;
	list-style: none;
}

dl { margin-bottom: 1rem; }

dl dt {
	margin-bottom: 0.3rem;
	font-weight: bold;
}

/* MISC */

blockquote {
	margin-bottom: 1rem;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	border-left: 2px solid #94DDDF;
}

blockquote,
blockquote p {
	font-size: 1.125rem;
	line-height: 1.4444444444;
	color: #3BC0C3;
}

cite {
	margin-top: 0.5rem;
	display: block;
	font-size: 0.75rem;
	color: #3BC0C3;
}

cite:before { content: '\2014 \0020'; }

abbr {
	color: inherit;
	cursor: help;
	border-bottom: 1px dotted;
}



/*
 *
 * LAYOUT & HELPER CLASSES
 *
 */

/* LAYOUT HELPER CLASSES */

.expand { width: 100% !important; }

.card {
	padding: 1rem;
	border-radius: 4px;
	margin-bottom: 1rem;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
	transition: box-shadow .3s ease;
}

.card.hover:hover { box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.20); }

.boxed {
	padding: 1rem;
	border-radius: 4px;
	margin-bottom: 1rem;
}

.boxed.outline { border: 2px solid #ECEFF1; }

/* BACKGROUNDS */

.bg-darkest-aquamarine { background-color: #025E63; }
.bg-dark-aquamarine { background-color: #189B9F; }
.bg-aquamarine { background-color: #3BC0C3; }
.bg-light-aquamarine { background-color: #94DDDF; }
.bg-lightest-aquamarine { background-color: #D8F3F3; }

.bg-darkest-asphalt { background-color: #263238; }
.bg-dark-asphalt { background-color: #455A64; }
.bg-asphalt { background-color: #78909C; }
.bg-light-asphalt { background-color: #B0BEC5; }
.bg-lightest-asphalt { background-color: #ECEFF1; }
.bg-white { background-color: #FFFFFF; }

.bg-dark-lime { background-color: #7CB342; }
.bg-lime { background-color: #9CCC65; }
.bg-light-lime { background-color: #C5E1A5; }

.bg-dark-amber { background-color: #FFB300; }
.bg-amber { background-color: #FFD03E; }
.bg-light-amber { background-color: #FFE082; }

.bg-dark-ruby { background-color: #D81B60; }
.bg-ruby { background-color: #EC407A; }
.bg-light-ruby { background-color: #F48FB1; }

/* VERTICAL RHYTHM */

.spacer-null { margin-top: 0 !important; margin-bottom: 0 !important; } /* 0 */
.spacer-xsmall { margin-top: 1rem !important; margin-bottom: 1rem !important; } /* 16 */
.spacer-small { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; } /* 24 */
.spacer-medium { margin-top: 2rem !important; margin-bottom: 2rem !important; } /* 32 */
.spacer-large { margin-top: 3rem !important; margin-bottom: 3rem !important; } /* 48 */
.spacer-xlarge { margin-top: 4rem !important; margin-bottom: 4rem !important; } /* 64 */

.spacer-top-null { margin-top: 0 !important;} /* 0 */
.spacer-top-xsmall { margin-top: 1rem !important; } /* 16 */
.spacer-top-small { margin-top: 1.5rem !important; } /* 24 */
.spacer-top-medium { margin-top: 2rem !important; } /* 32 */
.spacer-top-large { margin-top: 3rem !important; } /* 48 */
.spacer-top-xlarge { margin-top: 4rem !important; } /* 64 */

.spacer-bottom-null { margin-bottom: 0 !important; } /* 0 */
.spacer-bottom-xsmall { margin-bottom: 1rem !important; } /* 16 */
.spacer-bottom-small { margin-bottom: 1.5rem !important; } /* 24 */
.spacer-bottom-medium { margin-bottom: 2rem !important; } /* 32 */
.spacer-bottom-large { margin-bottom: 3rem !important; } /* 48 */
.spacer-bottom-xlarge { margin-bottom: 4rem !important; } /* 64 */

/* HORIZONTAL RHYTHM */

.spacer-left { margin-left: 0.5rem !important; }
.spacer-right { margin-right: 0.5rem !important; }



/*
 *
 * BUTTONS
 *
 */

/* NORMAL BUTTONS */

.btn {
	width: 100%;
	display: inline-block;
	border-radius: 999px;
	background: #3BC0C3;
	border: 2px solid #3BC0C3;
	padding: 0.438rem 0.75rem;
	text-transform: uppercase;
	color: #fff;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	transition-property: background-color, border-color, color;
	transition-duration: .3s;
	transition-timing-function: ease;
	margin-bottom: 1rem;
}

@media (min-width: 40rem) { /* MEDIUM */
	.btn {
		width: auto;
		margin-bottom: 0;
	}
}

.btn:hover,
.btn:active,
.btn:focus {
	color: #fff;
	outline: none;
	background: #189B9F;
	border-color: #189B9F;
}

.btn.large {
	font-size: 1rem;
	padding: 0.875rem 1.25rem;
}

.btn.primary {
	background: #B0BEC5;
	border-color: #B0BEC5;
}

.btn.primary:hover,
.btn.primary:active,
.btn.primary:focus {
	background: #78909C;
	border-color: #78909C;
}

.btn.darker.primary {
	background: #78909C;
	border-color: #78909C;
}

.btn.darker.primary:hover,
.btn.darker.primary:active,
.btn.darker.primary:focus {
	background: #455A64;
	border-color: #455A64;
}

.btn.secondary {
	background: #ECEFF1;
	border-color: #ECEFF1;
	color: #B0BEC5;
}

.btn.secondary:hover,
.btn.secondary:active,
.btn.secondary:focus {
	color: #78909C;
}

.btn.darker.secondary {
	background: #B0BEC5;
	border-color: #B0BEC5;
	color: #78909C;
}

.btn.darker.secondary:hover,
.btn.darker.secondary:active,
.btn.darker.secondary:focus {
	color: #455A64;
}

.btn.tertiary {
	background: #fff;
	border-color: #fff;
	color: #B0BEC5;
}

.btn.tertiary:hover,
.btn.tertiary:active,
.btn.tertiary:focus {
	background: #ECEFF1;
	border-color: #ECEFF1;
	color: #78909C;
}

.btn.white.primary {
	background: #fff;
	border-color: #fff;
	color: #3BC0C3;
}

.btn.white.primary:hover,
.btn.white.primary:active,
.btn.white.primary:focus {
	background: transparent;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.btn.ghost {
	background: transparent;
	border-color: #B0BEC5;
	color: #B0BEC5;
}

.btn.ghost:hover,
.btn.ghost:active,
.btn.ghost:focus {
	background: #B0BEC5;
	border-color: #B0BEC5;
	color: #FFFFFF;
}

.btn.cta.ghost {
	background: transparent;
	border-color: #3BC0C3;
	color: #3BC0C3;
}

.btn.cta.ghost:hover,
.btn.cta.ghost:active,
.btn.cta.ghost:focus {
	background: #3BC0C3;
	border-color: #3BC0C3;
	color: #FFFFFF;
}

.btn.darker.ghost {
	background: transparent;
	border-color: #78909C;
	color: #78909C;
}

.btn.darker.ghost:hover,
.btn.darker.ghost:active,
.btn.darker.ghost:focus {
	background: #78909C;
	border-color: #78909C;
	color: #FFFFFF;
}

.btn.white.ghost {
	background: transparent;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.btn.white.ghost:hover,
.btn.white.ghost:active,
.btn.white.ghost:focus {
	background: #FFFFFF;
	border-color: #FFFFFF;
	color: #3BC0C3;
}

.btn.disabled {
	opacity: 0.25;
	background: #B0BEC5;
	border-color: #B0BEC5;
	cursor: default;
}

.btn.disabled:hover,
.btn.disabled:active,
.btn.disabled:focus {
	background: #B0BEC5;
	border-color: #B0BEC5;
}

/* ICON BUTTONS */

.icn-btn {
	width: 2rem;
	height: 2rem;
	padding: 0.5rem;
	display: inline-block;
	border-radius: 999px;
	background: #ECEFF1;
	line-height: 0;
	cursor: pointer;
}

.icn-btn.small {
	width: 1rem;
	height: 1rem;
	padding: 0.25rem;
}

.icn-btn.large {
	width: 3rem;
	height: 3rem;
	padding: 0.75rem;
}

.icn-btn img {
	opacity: 0.55;
	transition: opacity .3s ease;
}

.icn-btn img:hover,
.icn-btn img:active,
.icn-btn img:focus {
	opacity: 1;
	transition: opacity .3s ease;
}


/*
 *
 * INPUTS
 *
 */

/* FORMS */

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font-size: 1rem;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #455A64;
}

/* Browser compatibility fixes */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] { cursor: default; } /* Re-set default cursor for disabled elements. */

html input[disabled] { background-color: #F9FAFB; }

html input[disabled]:hover,
html input[disabled]:focus { border-color: #ECEFF1; }

button::-moz-focus-inner,
input::-moz-focus-inner { /* Remove inner padding and border in Firefox 4+. */
	border: 0;
	padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/* STYLING */

label {
	font-size: 1rem;
	line-height: 1.625;
	font-weight: 700;
	text-transform: uppercase;
	color: #B0BEC5;
}

input[type=text],
select {
	display: inline-block;
	width: 100%;
	padding: 0.438rem 0.75rem;
	margin: 0.5rem 0 1rem 0;
	border: 2px solid #ECEFF1;
	border-radius: 4px;
	background: #FFFFFF;
	transition: border-color .3s ease;
}

input[type=text]:hover,
select:hover {
	border-color: #78909C;
	transition: border-color .3s ease;
}

input[type=text]:focus,
select:focus {
	outline: none;
	border-color: #3BC0C3;
	transition: border-color .3s ease;
}

/* PLACEHOLDER TEXT */

::-webkit-input-placeholder { color: #B0BEC5; }
:-moz-placeholder { color: #B0BEC5; opacity: 1; }
::-moz-placeholder { color: #B0BEC5; opacity: 1; }
:-ms-input-placeholder { color: #B0BEC5; }
:placeholder-shown { color: #B0BEC5; }

/* VALIDATION FEEDBACK */

label.wrong { color: #EC407A; }

input.wrong,
select.wrong,
textarea.wrong {
	border: 2px solid #EC407A;
	background-color: #FDE3EC;
}

input.wrong:hover,
input.wrong:focus,
select.wrong:hover,
select.wrong:focus,
textarea.wrong:hover,
textarea.wrong:focus { border: 2px solid #EC407A; }



/*
 *
 * MODALS
 *
 */

.modal {
	border-radius: 4px;
	background: #FFFFFF;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.20);
}

.modal .content {
	padding: 2rem 1rem 1rem 1rem;
	text-align: center;
}

.modal .action-bar {
	padding: 1rem;
	border-top: 2px solid #ECEFF1;
}

.modal .action-bar .btn {
	margin-right: 0.5rem;
}

.modal .icon {
	width: 10rem;
	height: 10rem;
	margin-bottom: 1rem;
}



/*
 *
 * TABLES
 *
 */

table {
	font-size: 1rem;
	line-height: 1.375;
	width: 100%;
	margin-bottom: 1rem;
	border-radius: 0;
	border-top: 2px solid #ECEFF1;
}

table tbody tr { border-bottom: 2px solid #ECEFF1; }

table thead,
table tfoot {
	background: #ECEFF1;
	border-top: 0;
}

table thead tr,
table tfoot tr { background: transparent; }

table thead th,
table thead td,
table tfoot th,
table tfoot td {
	padding: 0.8125rem 1rem;
	font-weight: 700;
	text-align: left;
	color: #78909C;
}

table tbody th,
table tbody td { padding: 0.8125rem 1rem; }

@media screen and (max-width: 63.9375em) { /* SMALL + MEDIUM */

	table.stack thead { display: none; }

	table.stack tfoot { display: none; }

	table.stack tr,
	table.stack th,
	table.stack td { display: block; }

	table.stack td { border-top: 0; }

}

table.scroll {
	display: block;
	width: 100%;
	overflow-x: auto;
}

table.hover tbody:hover tr:hover { background-color: #F9FAFB; }



/*
 *
 * ALERTS
 *
 */

.alert {
	margin-bottom: 1rem;
	border-radius: 4px;
	padding: 1rem 1rem 0 1rem !important;
	float: none;
}

.alert .icon {
	display: none;
	width: 2rem;
	height: 2rem;
	margin-right: 1rem;
	float: left;
}

@media (min-width: 40rem) { /* MEDIUM */
	.alert .icon { display: initial; }
}

.alert p {
	line-height: 2;
	margin-bottom: 1rem;
	float: left;
}

.alert p a {
	color: #455A64;
	border-bottom: 1px solid;
}

.alert p a:hover,
.alert p a:active,
.alert p a:focus { color: #455A64; }

.alert .btn { float: right; }



/*
 *
 * MISC
 *
 */

/* BADGES */

.badge {
	display: inline-block;
	background-color: #3BC0C3;
	border-radius: 999px;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1;
	padding: 0.375rem 0.54rem;
}

.badge.asphalt { background-color: #78909C; }
.badge.lime { background-color: #9CCC65; }
.badge.amber { background-color: #FFD03E; }
.badge.ruby { background-color: #EC407A; }